<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="hoa" packages="com.cmcciot.platform.common.log" monitorInterval="60">

	<properties>
        <!-- 日志收集ip -->
        <property name="FLUME_IP" value="172.25.4.36"/>
        <!-- 日志收集端口 -->
        <property name="FLUME_PORT" value="44444"/>
        <property name="SYSTEM_CODE" value="DHAP" />
        <property name="MESSAGE_TYPE" value="deviceIpInfo" />
	</properties>
	
    <Appenders>
		<Console name="Console" target="SYSTEM_OUT">
		    <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
		    <PatternLayout charset="GBK" pattern="[%d{yyyy-MM-dd HH:mm:ss}][%p][%c{1}]%m%n"/>
		</Console>
		
		 <TextArea name="textarea"  fileName="D:/log/hoa2.log">
	            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n" />
	     </TextArea>
     
	<RollingFile name="flumeLogNative" fileName="D:/log/flume-info.log"  append="true" filePattern="D:/log/flume-info.log.%d{yyyy-MM-dd}.%i">
	    <PatternLayout>
	        <Pattern>%msg%n</Pattern>
	    </PatternLayout>
	    <Policies>
	        <!-- 如果日志文件比当前JVM的启动时间早，最小文件大小达到或超过minSize（字节）时封存文件 -->
	        <OnStartupTriggeringPolicy minSize="10737418241"/>
	        <!-- 24小时封存文件，modulate用来校准当天时间 -->
	        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
	        <!-- 文件大小达到size时封存文件 -->
	        <SizeBasedTriggeringPolicy size="1024MB"/>
	    </Policies>
	    <Filters>
	        <ThresholdFilter level="INFO"/>
	    </Filters>
	    <!-- 生成多少个日志文件后会覆盖以前的日志文件 -->
	    <DefaultRolloverStrategy max="102400"/>
	</RollingFile>
		
	<!-- flume -->
    <FlumeLog name="flumeLogDhap" compress="false" systemCode="${SYSTEM_CODE}" messageType="${MESSAGE_TYPE}" requestTimeout="3000" connectTimeout="3000">
        <Agent host="${FLUME_IP}" port="${FLUME_PORT}"/>
        <PatternLayout pattern="%msg%n" />
    </FlumeLog>
	
    </Appenders>
    <Loggers>
		<Logger name="org.apache" level="error" includeLocation="false" ></Logger>
		<Logger name="org.springframework" level="error" includeLocation="false"></Logger>
		<Logger name="com.cmcciot" level="debug" includeLocation="false"></Logger>
		
		<Root level="debug" includeLocation="false">
		    <AppenderRef ref="textarea"/>
		    <AppenderRef ref="Console"/>
		</Root>
		
		<Logger name="com.cmcciot.platform.flume.handler" level="info" additivity="false">
			<AppenderRef ref="flumeLogDhap" />
			<AppenderRef ref="flumeLogNative"/>
		</Logger>
    </Loggers>
</Configuration>