<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        ">

    <!-- jedis configuration -->
 	<bean id="config" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">
 		<property name="maxTotal" value="200"></property>  
        <property name="maxIdle" value="50"></property> 
        <property name="minIdle" value="10"></property> 
        <property name="maxWaitMillis" value="15000"></property>  
        <property name="lifo" value="true"></property>
        <property name="blockWhenExhausted" value="true"></property>
        <property name="testOnBorrow" value="false"></property>
        <property name="testOnReturn" value="false"></property>
        <property name="testWhileIdle" value="false"></property>
        <property name="timeBetweenEvictionRunsMillis" value="30000"></property>
 	</bean>
 	
    <bean id="jedisCluster" class="com.cmcciot.common.cache.redis.FailoverJedisCluster" init-method="init">
    	<property name="redisServers"  value="${redis.server.info}" />
    </bean>
    
    <!-- do not change this name: jedisPool. it's used in FailoverJedisIntercepter to get the FailoverJedisPool instance.-->
    <bean id="jedisPool" class="com.cmcciot.common.cache.redis.FailoverJedisPool">
    	<constructor-arg type="org.apache.commons.pool2.impl.GenericObjectPoolConfig" ref="config" />
    	<constructor-arg type="com.cmcciot.common.cache.redis.FailoverJedisCluster" ref="jedisCluster" />
    	<constructor-arg type="org.apache.commons.pool2.impl.AbandonedConfig" ref="abandonConfig" />
    </bean>
    
    <bean id="abandonConfig" class="org.apache.commons.pool2.impl.AbandonedConfig">
		<property name="removeAbandonedTimeout" value="10"></property>
		<property name="removeAbandonedOnBorrow" value="true"></property>
		<property name="removeAbandonedOnMaintenance" value="true"></property>
	</bean>
	
    <bean class="com.cmcciot.common.cache.redis.util.SpringContextutil" />
</beans>
